{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href={% static "review/styles.css" %}>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
    <!-- {{form}} -->
    {% for field in form %}
    <div class="form-control {% if form.user_name.errors %}errors{% endif %} " >
        {{field.label_tag}}
        {{field}}
        {{field.errors}}
    </div>
    {% endfor %}
    <button>send</button>
    </form>
</body>
</html>
